{% extends 'base.html.twig' %} {% block title %}Agence lorem epsom{% endblock %} {% block body %}

<div class="jumbotron text-center   ">
    <h1> Agence lorem epsom</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab officia repellat temporibus, possimus alias aperiam dolores, mollitia, omnis architecto earum quod molestiae culpa id! Ab nostrum aliquid cupiditate corporis at?</p>

</div>
<div class="container mt-5">
    <h2>Les derniers biens</h2>
    <div class="row flex">
        {% for property in properties %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('property.show',{id:property.id, slug: property.slug} ) }}">{{ property.title }}</a>
                    </h5>
                    <p class="card-text">{{ property.city }} ({{ property.postalCode }}) </p>
                    {# {{ -9800.333|number_format(2, '.', ',') }} outputs : -9 #} {# {{ (-9800.333)|number_format(2, '.', ',') }} outputs : -9,800.33 #} {# {{ 1 + 0.2|number_format(2) }} outputs : 1.2 #} {# {{ (1 + 0.2)|number_format(2) }} outputs : 1.20 #}
                    <div class="text-primary" style="font-weight:bold ; font-size:2rem">{{ property.FormattedPrice}} €</div>
                    <a href="{{path('admin.property.edit',{'id':property.id})}}" class=" btn btn-warning ">Edit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}