<h1>
    Demande de contact : {{ contact.property.title}}
</h1>
<p> Une nouvelle personne souhaiteras obtenir plus d'information à propos du bien
    <a href="{{ url('property.show',{id:contact.property.id, slug:contact.property.slug}) }}" class="">{{ contact.property.title }}</a>
</p>
<hr>

<h1 class="text-primary font-weight-bold "> Nouveau contact</h1>
<p>Prénom : {{contact.firstname}}</p>
<p>Nom : {{contact.lastname}}</p>
<p>E-mail : {{contact.email}}</p>
<p>Message : {{contact.message|nl2br}}</p>